<br>
<p>Skræddersy dine drømme og skab unikke løsninger</p>
<br>
<hr>
<br>
<style>
    p{
        color: black;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    hr{
        width: 70%;
        margin: auto;
    }

    @media screen and (max-width: 600px){
        p{
            font-size: x-small;
        }
    }
</style>