<footer>
  <div class="maxbredde">

    <section class="info">
      <div>
        <!-----<h2>KONTAKT</h2--- -->
        <h3>Vahl Wood</h3>
        <p>3480 Hillerød</p>
        <p>Danmark</p>
        <p>E-mail: Info@vahlwood.com</p>
        <p>Telefonnr. +45 60 14 80 49</p>
        <p>CVR / VAT number: 43342533</p>
      </div>

      <div>
      <h3>Info</h3>
      <p>Handelsbetingelser</p>
      <p>Fragt & Levering</p>
      </div>
    </section>


    <section class="nyhedsbrev">
        <div>
          <h3>Nyhedsbrev</h3>
          <p>
            Hvis du ikke vil gå glip af de nyeste produkter og tilbud, <br> så tilmeld
            dig nyhedsbrevet.
          </p>
        </div>
  
  
        <div>
          <form action="">
            <label for="fname"></label>
            <input type="text" name="email" placeholder="Indtast din e-mail" />
          </form>
    
          <p class="knap">TILMELD</p>
        </div>
      </section>

  </div>
</footer>

<style>
  footer {
    border-top: 1px solid #000;
    margin-top: 7em;
  }

  .maxbredde {
    max-width: 1000px;
    margin-inline: auto;
    padding: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .nyhedsbrev{
    margin-top: 2em;
  }
  .info{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
  }

  input{
    padding: 10px;
    width: 13rem;
    margin-top: 1em;
  }
  h3 {
    font-weight: 400;
  }

  .knap {
    background-color: black;
    color: white;
    padding: 10px;
    width: 13rem;
    margin-top: 1rem;
    text-align: center;
  }

  /* større skærme */
  @media screen and (min-width: 600px) {
    #first-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3rem;
    }

    .knap:hover {
      opacity: 70%;
    }

    .nyhedsbrev{
      margin-top: 1em;
    display: grid;
    margin-left: 7em;
  }



 

  }

  @media screen and (min-width: 999px) {
    .maxbredde{
    display: flex;
    justify-content: space-evenly;
    }

    .info{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
  }

  .nyhedsbrev{
    margin-top: 0em;
  }
  }
</style>
