

<div class="popup" >
    <div class="background">
        <form id="form">
            <div>
            <h2>VAHL WOOD</h2>
            <p>Skriv dig op til eksklusive nyheder og få ekstra 10% rabat på dit køb</p>
            <input type="email" name="email" id="email" placeholder="Indtast din e-mail">
            <br>
            <button class="rabat" id="submit-btn">Modtag rabat nu</button>
            </div>

            <button id="submit-btn" class="close">&times;</button>
            <img src="/images/radiatorw.webp" alt="">
        </form>
    </div>
</div>


<style>

   

    *,
    *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    img{
        width: 100%;
        margin: auto;
        margin-top: -3.8em;

    }

    #form{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }


    .close{
    position: absolute;
    top: 1px;
    right: 6px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: black;
    }

    .popup{
        background-color: white;
        width: 75%;
        margin: auto;
        position: fixed;
        transform: translate(-50%, -50%);
        left: 50%;
        right: 50%;
        text-align: center;
        top: 31em;
        display: none;
    }


    

    h1{
        font-size: xx-large;
    }

    h2{
        font-size: larger;
        margin-top: 2em;
    }

    p{
        padding: 10px;
    }

    input{
        padding: 10px;
        width: 80%;
    }

    .rabat{
        padding: 10px 20px;
        margin-top: 1em;
        background-color: black;
        color: white;
    }


    @media screen and (min-width: 599px) {
        #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 100%;
        margin: none;
        margin-top: 0;
    }

    input{
        padding: 10px;
        width: 92%;
        margin-top: 2em;
    }
    h2{
        font-size: larger;
        margin-top: 5em;
    }

    .popup{
        height: 40%;
    }

    p{
        padding: 13px;
    }

    .close{
        right: 8px;
    }

    
}


@media screen and (min-width: 999px) {
    #form{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img{
        width: 100%;
        margin: none;
        margin-top: 0;
    }

    input{
        padding: 10px;
        width: 92%;
        margin-top: 1em;
    }

    .rabat{
        margin-top: 2em;
    }
    h2{
        font-size: x-large;
        margin-top: 6em;
    }

    p{
        padding: 13px;
    }

    .popup{
        top: 30em;
        width: 40%;
        height: 55.5%;
    }
    
}



</style>

<script>
    const newsletter = document.querySelector('.popup');
    const newsform = document.getElementById('form');

    window.addEventListener('load', () => {
        setTimeout(() => {
            newsletter.style.display = 'block';
        }, 2000);
        })

        newsletter.addEventListener('click', (e) => {
            if(e.target == newsletter){
                newsletter.style.display = 'none';
            }
        });

        newsform.addEventListener('submit', (e) =>{
            e.preventDefault();

            newsletter.style.display = 'none';
        });

  

</script>
