
<div>
<a href="https://www.facebook.com/profile.php?id=100087733412713"class="s">
    <img src="/facebook.svg" alt="Facebook" class="icon" />
    </a>

<a href="https://www.instagram.com/vahlwood/" class="s">
    <img src="/instagram.svg" alt="Instagram" class="icon" />
    </a>
</div>

<style>
    div{
        position: absolute;
        top: 83.2%;
        right: 25px;
        display: grid;
        position: fixed;
    }

    img{
        width: 70%;
    }

    @media screen and (min-width: 599px) {
    div{
        right: 25px;
        top: 88%;
    }
  }


    @media screen and (min-width: 999px) {
    div{
        right: 25px;
        top: 75%;
    }
  }
</style>