<div class="video-container">
  <video autoplay loop muted>
    <source src="/images/forside_video.mp4" type="video/mp4" />
  </video>
</div>
 

<!--- 
<img src="images/portrætdør.jpeg" alt="">

<div class="overskrift-video">
  <h1>Skab dine drømme her</h1>
  <p> - Specialiseret håndarbejde og unikke løsninger - </p>
</div>
-->

<style>

video {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }

  .video-container {
    display: block;
    margin-bottom: 3rem;
    max-width: 100%;
  }


  img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    margin-bottom: 3rem;
  }

  /*.overskrift-video{
      position: absolute;
      top: 10em;
      color: white;
      text-align: center;
      padding: 18%;
    }*/

    h1{
      font-size: x-large;
      -webkit-text-stroke: thin;
    }

    p{
      font-size: x-small;
      -webkit-text-stroke: thin;
    }


    @media screen and (min-width: 599px) {

    .overskrift-video{
      position: absolute;
      top: 13em;
      color: white;
      text-align: center;
      padding: 20%;
    }

    h1{
      font-size: 45px;
    }

    p{
      font-size: larger;
    }
  }


  @media screen and (min-width: 1000px) {
    .video-container {
      max-width: none;
    }

    .overskrift-video{
      position: absolute;
      top: 10em;
      color: white;
      text-align: center;
      padding: 27%;
    }

    h1{
      font-size: 80px;
    }

    p{
      font-size: larger;
    }
  }
</style>
